<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="scriptversion" value="1.10" />
		<add key="servertype" value="TEST" />
		<add key="ForceHttps" value="1" />
		<add key="maintance" value="no" />
		<!-- yes/no-->
	</appSettings>
	<connectionStrings>
		<add name="NMAUSqlServer" connectionString="539E54267430B967EB4537A1B16BEA438980582DEEA30201E013C09D05740D7902DB9680D0C331EF9CAF3C580C9B408566AC8D036447BD7024FF277A23CC20AE2E9534EF61E2F3183A112F3D35D4114A69974E79F1355724027BFBA8E99F280378783921E4B607901793523ED91522E921608DF6B4653543C125824FE94383F" providerName="System.Data.SqlClient"/>
	</connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	  <sessionState mode="InProc" timeout="120" />
	  <identity impersonate="true" password="" userName="" />
	  <httpRuntime maxRequestLength="1048576" executionTimeout="600" enableVersionHeader="false"  />
  </system.web>
	<system.webServer>
	
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="1048576000"></requestLimits>
			</requestFiltering>
		</security>
		<validation validateIntegratedModeConfiguration="false" />
	
	</system.webServer>
</configuration>