body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
  right: 0;
  */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
.mainpadding{
    padding-top:60px;
}
@media (max-width: 767.98px) {
    .sidebar {
        /* top: 3.6rem;*/
    }
}


.sidebar-sticky {
    height: calc(100vh - 63px);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
}

.sidebar .list-group-item {
    color: #003c4b;
    font-weight:600;
    cursor:pointer;
}
/*
 * Navbar
 */

#sidebarMenu .list-group-item {
    cursor: pointer;
}
.navbar .navbar-toggler {
  top: .65rem;
  right: 1rem;
}

.btn-na-style {
    background-color: #003c4b;
    color: #fff;
    border: 0px solid #003c4b;
    box-shadow: 5px 5px 7px grey;
 
    padding:3px 10px 3px 10px;
   
}
    .btn-na-style:hover {
        box-shadow: 7px 7px 7px grey;
    }

.btn-na-style-grey {
    background-color: #e5e5e5;
    color: #000;
    border: 0px solid #003c4b;
    padding: 3px 10px 3px 10px;
    box-shadow: 2px 2px 7px grey;
    height: 1.7rem;
}
.fonttitle{
    font-weight:600;
}
.rowpt{
    padding-top:0.5rem;
}