body {
  font-size: .875rem;
}
:root {
    --normanau-color: #003c4b;
}
.feather {
  width: 16px;
  height: 16px;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
  right: 0;
  */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
.mainpadding{
    padding-top:60px;
}
@media (max-width: 767.98px) {
    .sidebar {
        /* top: 3.6rem;*/
    }
}


.sidebar-sticky {
    height: calc(100vh - 63px);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}


.sidebar .list-group-item {
    color: #003c4b;
    font-weight: 600;
    cursor: pointer;
}
.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
}

.sidebar .list-group-item {
    color: #003c4b;
    font-weight:600;
    cursor:pointer;
}
/*
 * Navbar
 */

    #sidebarMenu .list-group-item {
    cursor: pointer;
}
.navbar .navbar-toggler {
  top: .65rem;
  right: 1rem;
}
.btn-na {
    background-color: var(--normanau-color);
    color: #fff;
    border: 0px solid #003c4b;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    padding-top: 0.375rem;
    padding-left: 0.75rem;
    padding-bottom: 0.375rem;
    padding-right: 0.75rem;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-radius: 0.18rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-na-outline {
    background-color: #fff;
    color: #000;
    border: 1px solid #003c4b;
}
.btn-na:hover {
    box-shadow: 5px 5px 5px grey;
}

.btn-na-grey {
    background-color: #e5e5e5;
    color: #000;
}
.fonttitle{
    font-weight:600;
}
.rowpt{
    padding-top:0.5rem;
}
.na-style-font {
    background-color: var(--normanau-color);
    color: #fff;
}
