.el-step.is-horizontal {
    display: inline-block;
}

.el-step {
    position: relative;
    flex-shrink: 1;
}

.el-steps--horizontal {
    white-space: nowrap;
}

.el-step:last-of-type.is-flex {
    flex-basis: auto !important;
    flex-shrink: 0;
    flex-grow: 0;
}

.el-step__head.is-success {
    color: #000000;
    border-color: #fddd89;
    font-weight:600;
}
.el-step__head.is-wait {
    color: #c0c4cc;
}

.el-step__head.is-process {
    color: #000000;
    border-color: #fddd89;
    font-weight: 600;
}
.is-success .el-step__icon {
    background-color: #fddd89;
}
.is-process .el-step__icon {
    background-color: #fddd89;
}
.el-step__head {
    position: relative;
    width: 100%;
}

.el-step__main {
    white-space: normal;
    text-align: left;
}

.el-step.is-horizontal .el-step__line {
    height: 2px;
    top: 11px;
    left: 0;
    right: 0;
}

.el-step__line {
    position: absolute;
    border-color: inherit;
    /* background-color: #c0c4cc;*/
    background-color: #efefef;
}


.el-step__line-inner {
    display: block;
    border: 1px solid;
    border-top-color: currentcolor;
    border-top-width: 1px;
    border-right-color: currentcolor;
    border-right-width: 1px;
    border-bottom-color: currentcolor;
    border-bottom-width: 1px;
    border-left-color: currentcolor;
    border-left-width: 1px;
    border-color: inherit;
    transition: .15s ease-out;
    transition-delay: 0s;
    box-sizing: border-box;
    width: 0;
    height: 0;
}

.is-success .el-step__line-inner {
    transition-delay: 0ms;
    border-width: 1px;
    width: 100%;
}
.is-wait .el-step__line-inner {
    transition-delay: 0ms;
    border-width: 0px;
    width: 0%;
}
.el-steps--horizontal {
    white-space: nowrap;
}

.el-step__icon.is-text {
    border-radius: 50%;
    border: 2px solid;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    border-color: inherit;
}

.el-step__icon {
    position: relative;
    z-index: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    font-size: 14px;
    box-sizing: border-box;
    background: #fff;
    transition: .15s ease-out;
}

.el-step__icon-inner.is-status {
    transform: translateY(1px);
}

.el-step__icon-inner {
    display: inline-block;
    user-select: none;
    text-align: center;
    font-weight: 700;
    line-height: 1;
    color: inherit;
}

.el-step__icon {
    font-size: 14px;
}
